* {
  box-sizing: border-box;
  font-family: "Nunito", serif;
}

body {
  background: #1f2022;
  padding-bottom: 30px;
  padding-top: 30px;
}
.calculator {
  background: #333642;
  border: solid 3px #27ff00;
  width: 400px;
  margin: 0 auto;
  border-radius: 4px;
}

.display-container {
  width: 100%;
  padding: 10px;
  height: auto;
  border: 3px #27ff00 solid;
  background: #333642;
  font-size: 30px;
  color: white;
  text-align: right;
  outline: none;
}

.button {
  background: grey;
  border: #27ff00 solid 1px;
  padding: 20px;
  color: white;
  border-radius: 2px;
  font-size: 20px;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
  grid-gap: 15px;
}

.zero {
  grid-column: span 2;
}
.clear {
  grid-column: span 3;
  background: #27ff00;
}

.equals {
  background: #27ff00;
}
