* {
  box-sizing: border-box;
  font-family: "Nunito", serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #19191b;
  font-family: "Roboto", serif;
}
ul {
  padding-inline-start: 0px;
}

li {
  list-style: none;
  margin: 0;
}

h2 {
  margin: 0 0 10px 0;
}

.buttons {
  background: #19191b;
  color: white;
  border: 0.5px solid deeppink;
  padding: 4px;
  border-radius: 4px;
  margin-top: 10px;
}

.single-button {
  border-radius: 4px;
  background: #19191b;
  text-align: center;
  width: 70px;
  height: 30px;
  align-self: center;
  color: white;
  border: 0.5px solid deeppink;
}

.app {
  display: flex;
  flex-direction: row;
  width: 800px;
  height: auto;
  background: #333642;
  margin: 10px auto;
  border: deeppink 1px solid;
  border-radius: 8px;
}

.names-input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 280px;
  height: auto;
  padding: 40px;
  margin: 20px;
  border: 1px deeppink solid;
  background: #1e1f26;
  color: white;
}

.listed-names {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.names-queue {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 280px;
  height: auto;
  margin: 20px;
  padding: 40px;
  border: 1px deeppink solid;
  background: #1e1f26;
  color: white;
}

.formated-names {
  width: 650px;
  height: 350px;
  background: #1e1f26;
  padding: 40px;
  margin: 20px;
  color: white;
  border: 1px solid deeppink;
}
